.lands-protabledit-form::-webkit-scrollbar {
  display: none;
}

.lands-protabledit-form {
  max-height: 60vh;
  overflow: 'scroll';
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
